*.php~
/.idea/
/library.sublime-workspace
/library.sublime-project
/web/bundles/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

/app/config/config.yml
app/check.php
app/SymfonyRequirements.php
composer.lock
web/config.php