#Catalog routes
home:
    path: /
    defaults: { _controller: DropTableLibraryBundle:Default:index }

catalog.list:
    path: /books/list
    defaults: { _controller: DropTableLibraryBundle:Catalog:list }

catalog.list_by_category:
    path: /category/{slug}
    defaults: { _controller: DropTableLibraryBundle:Catalog:listByCategory }

catalog.add_book:
    path: /books/add
    defaults: { _controller: DropTableLibraryBundle:Catalog:add }

catalog.edit_book:
    path: /books/edit/{slug}
    defaults: { _controller: DropTableLibraryBundle:Catalog:edit }

catalog.delete_book:
    path: /books/delete/{slug}
    defaults: { _controller: DropTableLibraryBundle:Catalog:delete }

catalog.book:
    path: /book/{slug}
    defaults: { _controller: DropTableLibraryBundle:Catalog:book }

catalog.owners:
    path: /owners/{slug}
    defaults: { _controller: DropTableLibraryBundle:Catalog:owners }

catalog.my_books:
    path: /profile/books/{slug}
    defaults: { _controller: DropTableLibraryBundle:Catalog:myBooks }

#Reservation routes
reservation.reserve:
    path: /reserve/{slug}
    defaults: { _controller: DropTableLibraryBundle:Reservation:reserve }

reservation.return:
    path: /return/{slug}
    defaults: { _controller: DropTableLibraryBundle:Reservation:return }

reservation.my_reservations:
    path: /profile/reservations
    defaults: { _controller: DropTableLibraryBundle:Reservation:myReservations }

reservation.book_reservations:
    path: /book/reservations/{slug}
    defaults: { _controller: DropTableLibraryBundle:Reservation:reservations }
